header{font-size: 200%;
    color: rgb(128, 0, 128)}
   .center{font-size: 180%;
  text-align: center;
  color: rgb(128, 0, 128)
}
.beli{color: rgb(255, 240, 245)}
body{background-color:#FFF0F5}
p{font-size: 140%}
ul{ list-style-type: none}git