
body{background-color:#FFF0F5}
p1 {font-size: 150%;
    color: rgb(0, 206, 209)}
    #flex {background-color:##F0FFFF}
    p {font-size: 200%;
    color: rgb(220, 20, 60)}
p {
    text-align:  center;
   }
#nou {display: flex;
  flex-direction: row;
}
nav {background-color:#00FFFF;
text-align: center;
    font-size: 150%
}
main {font-size: 150%;
    color: rgb(128, 0, 128)}
ul{ list-style-type: none}